html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root{
  --todo-text-color : #a6afc9;
  --main-bg-color : #fca2d1;
}

body {
  background-color: #c8cde0;
  display: flex;
  justify-content: center;
}

#root{
  background-color: #fff;
  margin-top: 48px;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 1px #83858f;
  font-family: 'Roboto';
  transition: all .3s linear;
}

.dark{
  background-color: #1f1f1f!important;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-height: 600px;
  position: relative;
  margin-top: 12px;
  z-index: 1;
}

.todoStatus{
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.todoStatus span{
  padding: 8px 8px;
  margin: 0 4px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s linear;
}

.dark .todoStatus span{
  padding: 8px 8px;
  margin: 0 4px;
  border: 1px solid white;
  color: var(--todo-text-color);
  background-color: #1f1f1f;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s linear;
}

.nonInp .addTodoInp{
  visibility: hidden;
}

.nonInp .addTodoBtn{
  transition: all 0s linear;
  visibility: hidden;
}

.addTodoInp{
  border: .2px solid var(--main-bg-color);
  outline: 0;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 8px;
  margin : 24px 0 12px 0;
}

.dark .addTodoInp{
  background-color: #1f1f1f;
  color: var(--todo-text-color);
}

.addTodoInp::placeholder{
  color: var(--todo-text-color);
}

.addTodoBtn{
  position: absolute;
  bottom: 10px;
  height: 50px;
  font-size: 18px;
  background-color: var(--main-bg-color);
  border-radius: 8px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  transition: all .3s linear;
}

.dark .addTodoBtn{
  background-color: #1f1f1f;
  color: var(--todo-text-color);
  border: 1px solid white;
}

.addTodoBtn:hover{
  box-shadow: 3px 3px 10px 1px #83858f;
}

ul{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 10px 0 50px 0;
}

.todo-item{
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.todo-item span,b{
  position: relative;
  user-select: none;
  color:var(--todo-text-color);
  font-size: 18px;
}

.todo-item b{
  color: var(--main-bg-color);
  font-size: 10px;
}

.todo-item span::before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #dbe1f5;
  top: 45%;
  transition: all 0.3s linear;
}

.handleBtnContain{
  display: inline-block;
  color: var(--main-bg-color);
}

.handleBtnContain i + i{
  margin-left: 4px;
  margin-right: 4px;
}

.checkbox{
  color: var(--todo-text-color);
  position: relative;
  z-index: -1;
  margin-left: 4px;
}

.checkbox i{
  position: absolute;
  left: 1px;
  top: -14px;
  cursor: pointer;
  transition: all .3s linear;
  font-size: 28px;
}

.todo-item-checkbox{
  height: 22px;
  width: 22px;
  opacity: 0.00001;
}

.todo-item-name {
  display: inline-block;
  max-width: 200px;
  margin: 0 12px;
}

.handleBtn{
  cursor: pointer;
  font-size: 24px;
  margin: 0px 8px;
}

.fa-check{
  cursor: pointer;
  display: none;
  margin: 0px 8px;
  font-size: 24px;
}

.editing .editBtn{
  display: none;
}

.editing .todo-item-checkbox, .editing .checkbox{
  display: none;
}

.editing .todo-item-name {
  padding: 4px 4px;
  border: 1px solid var(--main-bg-color);
  border-radius: 5px;
}

.editing .fa-check{
  display: inline-block;
}

.completed .checkbox i{
  background-color: var(--main-bg-color);
  border-radius: 50%;
}

.completed .editBtn{
  visibility: hidden;
}

.completed span::before{
  width: 100%;
}

.editing .fa-check{
  visibility: visible;
}

.selecting {
  border: 1px solid white!important;
  background: var(--main-bg-color);
  color: white;
}

.dark .selecting{
  color: var(--main-bg-color)!important;
}

.modeBox {
  text-align: center;
  font-size: 28px;
  margin-top: 12px;
}

.modeBox i{
  padding: 12px 12px;
  border: 1px solid var(--todo-text-color);
  border-radius: 2rem;
  transition: all .3s linear;
}

.modeBox i:hover{
  border-radius: 8px;
}

.modeBtn {
  cursor: pointer;
}

.fa-moon{
  color: var(--todo-text-color);
  background-color: #1f1f1f;
}

.light .fa-moon{
  display: none;
}

.dark .fa-sun{
  display: none;
}